.dashboard-background {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("../../../public/images/bg-trucks.jpg");
    opacity: 0.15;
    z-index: -1;
    background-position: center;
    background-size: cover;
  }
}
.dashboard-title {
  color: #418ecb;
  padding: 15px;
}
