.driver-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #d5554d;
  margin-bottom: 16px;
  font-family: Manrope;
  letter-spacing: 0em;
}
.driver-title-detail {
  font-family: Manrope;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  color: #d5554d;
}
.driver-basic-details {
  font-family: Manrope;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #5e5e5e;
}
