.load-item {
  flex-basis: 0;
  flex-grow: 1;
}

.load-item .mb-3 {
  margin-bottom: 0.5rem !important;
}

.load-itemmain {
  height: 100%;
  background-color: #e9f3fb;
  flex-grow: 1;
}


.formpagenavbar {
  border-bottom: 1px solid #1b56ae;
  padding-top: 0;
  padding-bottom: 0;
}

.searchRow {
  padding-left: 13rem;
}

.button-search {
  position: absolute;
  bottom: 30px;
}

.allsearch-button {
  background-color: #b7d1e6;
  color: #000000;
  border: 1px solid #1e5367;
}

.form-control,
.form-select,
textarea {
  color: black;
  border: 1px solid #909090;
}

.form-control.search,
.form-control[placeholder="Search"] {
  border: 1px solid var(--bs-border-color);
  border-left: none;
  border-right: none;
}

.loadsSearchForm {
  zoom: 0.9;
  .mb-3 {
    margin-bottom: 0.25rem !important;
  }
  ._fixWidth {
    min-width: 128px;
  }
  .checkboxTable {
    margin-top: 1rem;
    th,
    td {
      background-color: transparent !important;
    }
  }
}

form.newcustomer,
form.new-truck-form,
form.newTrailerForm {
  .mb-3 {
    margin-bottom: 0.25rem !important;
  }
}
.form.driveritem {
  .mb-3 {
    margin-bottom: 0.4rem !important;
  }
}
.add-button {
  color: black;
  border: 1px solid black;
  background-color: white;
  border-radius: 0%;
}
.edit-load-color {
  color: #1e5367;
}

.cancel-button {
  color: red;
  border: 1px solid red;
  background-color: white;
  border-radius: 0%;
}
.editText {
  font-size: smaller;
}
.update-text {
  span {
    font-size: 12px !important;
    height: 24px; border-radius: 0;
  }
  .form-control-sm, .form-select {
    font-size: 12px !important;
    height: 24px; border: 1px solid #d4d4d4; border-radius: 0;
  }
}
.edit-dropdown {
  height: 24px;
}
.edit-button {
  color: #0b8e00;
  border: 1px solid #0b8e00;
  background-color: white;
  border-radius: 0%;
}

.cancel-button:not(.nohover):hover {
  color: red;
  border: 1px solid red;
  background-color: white;
  border-radius: 0%;
}

// .save-button {
//   color: white;
//   border: 1px solid #1e5367;
//   background-color: #418ecb;
//   border-radius: 0;
// }

.save-preview-button { 
  border-radius: 0%;
}



.map-margin {
  margin-bottom: 316px;
}

// .save-button:not(.nohover):hover {
//   border: 1px solid #1e5367;
//   background-color: #418ecb;
//   color: white;
//   border-radius: 0%;
  
// }

.card-search {
  background-color: #e9f3fb;
}

// input[type="file"] {
//   display: none;
// }

.custom-file-upload {
  display: inline-block;
  padding: 0.5rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.custom-file-upload-label {
  cursor: pointer;
}

.approve-button {
  color: black;
  border: 1px solid #1e5367;
  background-color: #8ff086;
  margin-left: 30px;
}


.map-container {
  height: 250px;
}
.map-container{
  height: 240px;
}

.form-label{
  margin-bottom: 0.25rem !important;
}
