.load-item {
  flex-basis: 0;
  flex-grow: 1;
}

.load-item .mb-3 {
  margin-bottom: 0.5rem !important;
}

.load-itemmain {
  height: 100%;

  // padding-bottom: 3rem !important;
}

.formpagenavbar {
  border-bottom: 1px solid #1b56ae;
}

.searchRow {
  padding-left: 13rem;
}

.button-search {
  position: absolute;
  bottom: 30px;
}

.allsearch-button {
  background-color: #b7d1e6;
  color: #000000;
  border: 1px solid #1e5367;
}
.form-control, .form-select, textarea{
  color: black; 
  border: 1px solid #418ECB;
}
.form-control.search{
  border: 1px solid var(--bs-border-color);
  border-left: none;
  border-right: none;
}
.loadsSearchForm{
  zoom: 0.9;
  .mb-3{
    margin-bottom: 0.25rem !important;
  }
  ._fixWidth{
    min-width: 128px;
  }
  .checkboxTable{
    margin-top: 1rem;
    th,td{
      background-color: transparent !important;
    }
  }
}
form.newcustomer, form.new-truck-form{
  .mb-3{
    margin-bottom: 0.25rem !important;
  }
}
.form.driveritem{
  .mb-3{
    margin-bottom: 0.4rem !important;
  }
}