@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@mixin message() {
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
}

.login {
  background-image: url("../../../public/images/bg-trucks.jpg");
  font-family: 'Manrope', sans-serif;
  background-size: cover;
  font-weight: 400;

  .vh-100 {
    height: 100vh;
  }

  .input-group-text {
    color: rgb(88, 88, 88);
  }

  .login-form {
    background: transparent;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.6);
      backdrop-filter: blur(5px);
      z-index: -1;
    }
    .message {
      @include message;
    }
  }

  // placeholder css
  .form-control::placeholder {
    color: rgb(183, 183, 183);
    font-weight: lighter;
  }

  .error {
    color: red;
  }
}
