.header-section {
  justify-content: space-between;
  align-items: center;
  // background-color: var(--header-color);
  background-color:#FCFCFC;
}

.user-dropdown-greeting {
  display: flex;
  align-items: center;
  color: #000000;
  i {
    padding-right: 10px;
    font-size: xx-large;
  }
}

.header_nav {
  // border-right: 1px solid #1b56ae;
  padding-top: 0;
  padding-bottom: 0;
  background-color:#FCFCFC;
}
