.Sidebar {
  background-color: #ffffff;
  transition:
    width 0.3s ease-in-out,
    min-width 0.3s ease-in-out;
  &.open {
    min-width: 215px;
    width: 215px;
    height: calc(100vh - 90px);
  }
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-item {
  justify-content: space-between;
  align-items: center;
  // height: 40px;
  padding-left: 18px;
  display: block;
  width: 100%;
  padding: 8px;
  cursor: pointer;
  &.has-child ~ ul li div {
    padding-left: 3rem !important;
  }
  &::after {
    position: absolute;
    right: 1.5rem;
    vertical-align: 0.255em;
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
  }

  &.active::after {
    position: absolute;
    right: 1.5rem;
    vertical-align: 0.255em;
    border-bottom: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-top: 0;
    border-left: 0.3em solid transparent;
  }
  &.active {
    background-color: #b7d1e6;
    color: black;
    font-weight: bold;
  }
}

.sidebar-submenu {
  margin-left: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #b7d1e6;

  .active-item {
    background-color: #91abc1;
  }
}

.toggle-button {
  padding: 10px;
  outline: none;
  cursor: pointer;
}
ul.sidebar-submenu .sidebar-item {
  &.py-2 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
  }
  // height: 32px !important;

  &.active {
    background-color: #91abc1;
  }
}

// Sidebar2 ////

.Sidebar .nav-item.has-submenu > .nav-link {
  position: relative;
  &:after {
    position: absolute;
    right: 1.5rem;
        top: 50%;
    bottom: 50%;
    transform: translate(0, -50%);
    content: "";
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent;

    border-top: 0.3em solid;
    border-bottom: 0;
  }
  &.active::after {
    position: absolute;
    right: 1.5rem;
        top: 50%;
    bottom: 50%;
    transform: translate(0, -50%);
    content: "";
    border-bottom: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-top: 0;
    border-left: 0.3em solid transparent;
  }
  &:hover {
    background-color: #b7d1e6;
  }
  &.active {
    background-color: #b7d1e6;
    color: var(--primary);
    font-weight: bold;
    & ~ ul.show.submenu {
       background-color: #b7d1e6;
       .nav-link{
        padding: 0.2rem 0.5rem 0.2rem 2.5rem;
        &.active{
          background-color: #91abc1;
        }
       }
    }
  }
}
.Sidebar .submenu  .submenu .nav-link{
  padding: 0.2rem 0.5rem 0.2rem 3.25rem !important;
  font-size: small;
}