$primary: #21529d;
$info: #418ecb;

@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");
:root {
  --bs-primary-rgb: #21529d !important;
  --bs-card-border-radius: 0 !important;
  --bs-link-color: var(--bs-primary-rgb) !important;
  --bs-link-hover-color: #900b0f !important;
  --header-color: #ffffff;
  --body-color: #465e78;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #b6b6b6;
}

::-webkit-scrollbar-thumb {
  background: $info;
}

::-webkit-scrollbar-corner {
  background: #000000;
}
:focus {
  outline: none;
  box-shadow: none !important;
}
.x-small {
  font-size: 0.675rem;
}

.table-data thead tr th {
  font-size: small;
  font-weight: 700;
  vertical-align: top;
}
.table-data tbody tr td {
  font-size: small;
  font-weight: 400;
}

.aria-content {
  width: 100%;
  height: calc(100vh - 90px);
  padding: 10px;
  overflow-y: auto;
}

form .form-label {
  margin-bottom: 0;
  font-size: small;
}

.flex-item {
  flex-grow: 1;
  flex-basis: 0;
}

.buttonLink {
  color: black;
  background-color: #b7d1e6;
  border: 1px solid black;
}

.buttonLink:not(.nohover):hover {
  border: 1px solid black;
  background-color: #b7d1e6;
  color: black;
}

@import "./login";
@import "./navigation";
@import "./dashboard";
@import "./sidebar";
@import "./loadpage";
@import "./partnerpage.scss";
@import "./equipment.scss";
@import "./fuelpage.scss";
@import "./accountspage.scss";
@import "./driverpage.scss";
@import "./driverpayroll.scss";
