@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800");

$primary: #21529d;
$info: #418ecb;
@import "~bootstrap/scss/bootstrap";

:root {
  --bs-primary-rgb: #21529d !important;
  --bs-card-border-radius: 0 !important;
  --bs-link-color: var(--bs-primary-rgb) !important;
  --bs-link-hover-color: #900b0f !important;
  --header-color: #ffffff;
  --body-color: #465e78;
}

body {
  font-family: "Manrope", sans-serif;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #b6b6b6;
}

::-webkit-scrollbar-thumb {
  background: $info;
}

::-webkit-scrollbar-corner {
  background: #000000;
}

:focus {
  outline: none;
  box-shadow: none !important;
}

.x-small {
  font-size: 0.675rem;
}

.table-data thead tr th {
  font-size: small;
  font-weight: 700;
  vertical-align: top;
}

.table-data tbody tr td {
  font-size: small;
  font-weight: 400;
}

.aria-content {
  width: 100%;
  height: calc(100vh - 90px);
  padding: 10px;
  overflow-y: auto;
}

form .form-label,
form .form-check-label {
  margin-bottom: 0;
  font-size: small;
  font-weight: 500;
}

.flex-item {
  flex-grow: 1;
  flex-basis: 0;
}

.card {
  border-radius: 0;
  border: none;
}

.modal,
form.container {
  zoom: 0.9;
}

.header_nav {
  min-width: 215px;
}

.navbar-brand {
  font-size: 1.5rem;
}

input[type="checkbox"],
input[type="radio"] {
  border: 1px solid rgb(65, 142, 203);
}

.navbar.bg-light {
  border-bottom: 1px solid rgb(27, 86, 174);
}

.navbar > .container-fluid {
  padding: 0;
}

@import "./login";
@import "./navigation";
@import "./dashboard";
@import "./sidebar";
@import "./loadpage";
@import "./pagination";
