:root {
  --bs-primary-rgb: #21529d !important;
  --bs-card-border-radius: 0 !important;
  --bs-link-color: var(--bs-primary-rgb) !important;
  --bs-link-hover-color: #900b0f !important;
  --header-color: #ffffff;
  --body-color: #465e78;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    "Noto Sans",
    "Liberation Sans",
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

// Scrollbar
/* width */
::-webkit-scrollbar {
  width: 0.25rem;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bs-primary-rgb);
  border-radius: 10px;
}

@import "~bootstrap/scss/bootstrap";
@import "./login";
@import "./navigation";
@import "./dashboard";
@import "./widget";
@import "./sidebar";
@import "./moreWidget";
